.QuoteBox {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 12px;
    border: 2px black solid;
}

.QuoteBox-quote {
    
}

.QuoteBox-author {
    text-align: right;
    margin-right: 10px;
}

.fadeIn {
    opacity: 0;
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    } 100% {
        opacity: 3;
        transform: translateY(0px);
    }
}

.QuoteBox-button {
    border: 2px black dotted;
    border-radius: 10px;
}